<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="de.uka.ipd.sdq.codegen.simucontroller.simulator" name="Palladio Simulator" schema="schema/de.uka.ipd.sdq.codegen.simucontroller.simulator.exsd"/>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          class="de.uka.ipd.sdq.codegen.simucontroller.gui.DockStatusViewPart"
          icon="icons/screen_blue_small.gif"
          id="de.uka.ipd.sdq.codegen.simucontroller.gui.DockStatusViewPart"
          name="Simulation Dock Status">
    </view>
 </extension>
 	
</plugin>
